<h1>Create A New Recipe</h1>
<% if @recipe.errors %>
    <ul>
        <% @recipe.errors.full_messages.each do |message| %>
            <li class="error"><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @recipe do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
    <%= f.submit "Create" %>
  <% end %>