<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Ingredients Page", ingredients_path %> 
  || <%= link_to "Recipes Page", recipes_path %>
  || <%= link_to "Users Page", users_path %>
    <%= yield %>
  </body>
</html>
